{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block head %}
    <base href="/">
    <meta name="keywords" content="Mon Pressing En Ligne">
    <meta name="description" content="Votre satisfaction, notre garantie">
    <meta name="author" content="PressingCI">
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&amp;family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div ng-view></div>
{% endblock %}
