
<div id="subtitle-wrapper" class="lazyload" data-bg="/images/subtitle-wrapper01.jpg">
    <div class="subtitle-wrapper-img lazyload" data-bg="images/subtitle-wrapper01-img.jpg">
        <div class="container container-fluid-xl">
            <div class="tt-breadcrumbs">
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li>Prices</li>
                </ul>
            </div>
            <h1 class="subtitle__title">Prices</h1>
        </div>
        <div class="bubbleContainer">
            <div class="bubble-1"></div>
            <div class="bubble-2"></div>
            <div class="bubble-3"></div>
            <div class="bubble-4"></div>
            <div class="bubble-5"></div>
            <div class="bubble-6"></div>
            <div class="bubble-7"></div>
            <div class="bubble-8"></div>
            <div class="bubble-9"></div>
            <div class="bubble-10"></div>
        </div>
    </div>
</div>
<main id="tt-pageContent">
    <div class="lazyload subpage-bg-left subpage-bg__position05" data-bg="images/wrapper-subpage-left05.png">
        <div class="lazyload subpage-bg-right subpage-bg__position05" data-bg="images/wrapper-subpage-right05.png">
            <!-- TODO : Faire un Ajax pour récuperer la liste des produits les plus utilisés -->
            <div class="section-indent">
                <div class="container container-fluid-lg">
                    <div class="title-block text-center">
                        <div class="title-block__label">[ Affordable Prices ]</div>
                        <h4 class="title-block__title">Our Dry Cleaning & Laundry Prices</h4>
                        <div class="title-block__text tt-limit-width">Our prices are simple and affordable which are easy on pocket in comparison with the high street prices</div>
                    </div>
                    <div class="slick-default promo03__wrapper" data-slick='{
								"slidesToShow": 4,
								"autoplaySpeed": 4500,
								"slidesToScroll": 4,
								"autoplay":false,
								"responsive": [
								{
								"breakpoint": 1024,
								"arrows": false,
								"settings": {
								"slidesToShow": 2,
								"slidesToScroll": 2
								}
								},
								{
								"breakpoint": 651,
								"settings": {
								"slidesToShow": 1,
								"slidesToScroll": 1
								}
								}
								]
								}'>
                        <div class="tt-item">
                            <div class="promo03 js-handler">
                                <div class="promo03__move">
                                    <div class="promo03__icon icons-884417"></div>
                                    <div class="promo03__title">Shirts Service</div>
                                    <div class="promo03__subtitle">Washed and Pressed</div>
                                    <div class="promo03__price"><span class="tt-value">$2.00</span></div>
                                    <div class="promo03__show-btn">
                                        <a href="#" class="tt-btn">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="promo03__btn-toggle"></div>
                            </div>
                        </div>
                        <div class="tt-item">
                            <div class="promo03 js-handler">
                                <div class="promo03__move">
                                    <div class="promo03__icon icons-868044"></div>
                                    <div class="promo03__title">Day Dress Service</div>
                                    <div class="promo03__subtitle">Dry Clean</div>
                                    <div class="promo03__price"><span class="tt-value">$10.50</span></div>
                                    <div class="promo03__show-btn">
                                        <a href="#" class="tt-btn">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="promo03__btn-toggle"></div>
                            </div>
                        </div>
                        <div class="tt-item">
                            <div class="promo03 js-handler">
                                <div class="promo03__move">
                                    <div class="promo03__icon icons-1233149"></div>
                                    <div class="promo03__title">Dry Cleaning</div>
                                    <div class="promo03__subtitle">Wash, Dry and Fold</div>
                                    <div class="promo03__price"><span class="tt-value">$2.00</span></div>
                                    <div class="promo03__show-btn">
                                        <a href="#" class="tt-btn">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="promo03__btn-toggle"></div>
                            </div>
                        </div>
                        <div class="tt-item">
                            <div class="promo03 js-handler">
                                <div class="promo03__move">
                                    <div class="promo03__icon icons-495018"></div>
                                    <div class="promo03__title">Bedding</div>
                                    <div class="promo03__subtitle">Bed Set (Wash and Press)</div>
                                    <div class="promo03__price"><span class="tt-value">$10.50</span></div>
                                    <div class="promo03__show-btn">
                                        <a href="#" class="tt-btn">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="promo03__btn-toggle"></div>
                            </div>
                        </div>
                        <div class="tt-item">
                            <div class="promo03 js-handler">
                                <div class="promo03__move">
                                    <div class="promo03__icon"><i class="icons-2737832"></i></div>
                                    <div class="promo03__title">Blanket Service</div>
                                    <div class="promo03__subtitle">Washed and Pressed</div>
                                    <div class="promo03__price"><span class="tt-value">$25.00</span></div>
                                    <div class="promo03__show-btn">
                                        <a href="#" class="tt-btn">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="promo03__btn-toggle"></div>
                            </div>
                        </div>
                        <div class="tt-item">
                            <div class="promo03 js-handler">
                                <div class="promo03__move">
                                    <div class="promo03__icon"><i class="icons-863958"></i></div>
                                    <div class="promo03__title">Curtains Service</div>
                                    <div class="promo03__subtitle">Washed and Pressed</div>
                                    <div class="promo03__price"><span class="tt-value">$22.00</span></div>
                                    <div class="promo03__show-btn">
                                        <a href="#" class="tt-btn">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="promo03__btn-toggle"></div>
                            </div>
                        </div>
                        <div class="tt-item">
                            <div class="promo03 js-handler">
                                <div class="promo03__move">
                                    <div class="promo03__icon"><i class="icons-486676"></i></div>
                                    <div class="promo03__title">Ironing Service</div>
                                    <div class="promo03__subtitle">Iron and Fold</div>
                                    <div class="promo03__price"><span class="tt-value">$3.00</span></div>
                                    <div class="promo03__show-btn">
                                        <a href="#" class="tt-btn">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="promo03__btn-toggle"></div>
                            </div>
                        </div>
                        <div class="tt-item">
                            <div class="promo03 js-handler">
                                <div class="promo03__move">
                                    <div class="promo03__icon"><i class="icons-1072668"></i></div>
                                    <div class="promo03__title">Repairs & Alterations</div>
                                    <div class="promo03__subtitle">Simple Sewing</div>
                                    <div class="promo03__price"><span class="tt-value">$12.00</span></div>
                                    <div class="promo03__show-btn">
                                        <a href="#" class="tt-btn">
                                            <span class="mask">Order Now</span>
                                            <div class="button">Order Now</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="promo03__btn-toggle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="!ajaxCategorie">
                <img src="/images/loader.svg" class=" mx-auto d-block" alt="loading">
            </div>
            <div class="section-indent" ng-show="ajaxCategorie">
                <div class="container container-fluid-lg">
                    <div class="title-block text-center">
                        <div class="title-block__label">[ Our Service Prices ]</div>
                        <h4 class="title-block__title">Full Price Table</h4>
                        <div class="title-block__text tt-limit-width">Laundry service pricing is volume based. Dry cleaning is priced by item type. Give us a call to review pricing and services today!</div>
                    </div>
                    <div class="tabs-default tab-layout01">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" ng-repeat="category in articlesCataegorie">
                                <a
                                        class="nav-link"
                                        ng-class="{'active': $first}"
                                        data-toggle="tab"
                                        role="tab"
                                        ng-click="tabArticleCategory($index)"
                                >
                                    //category.lib//
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div
                                    ng-repeat="category in articlesCataegorie"
                                    ng-show="articlesCataegoriePos == $index"
                                    id="tt-tab-$index"
                                    class="tab-pane active fade" role="tabpanel"
                            >
                                <div class="row table-price__wrapper">
                                    <div class="col-md-6" ng-repeat="block in category['articles'] | chunkBy : arrondir(category['articles'].length / 2)">
                                        <div class="table-price">
                                            <div class="tt-item" ng-repeat="a in block">
                                                <div>//a.lib  | ucfirst//</div>
                                                <div>//a.price | currency : '' : 0 |replace: ',':' '// FCFA</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-inner02 tt-overflow-hidden">
                <div class="container container-fluid-lg">
                    <div class="title-block text-center">
                        <div class="title-block__label">[ What we offer ]</div>
                        <h4 class="title-block__title">Price Packages</h4>
                        <div class="title-block__text tt-limit-width02">Our prices are simple and affordable which are easy on pocket in comparison with the high street prices</div>
                    </div>
                    <div class="promo02__wrapper row js-init-carusel-tablet slick-default">
                        <div class="tt-item col-md-4">
                            <div class="promo02 js-handler">
                                <div class="promo02__icon"><i class="icons-2840435"></i></div>
                                <div class="promo02__title">Standard Package</div>
                                <div class="promo02__subtitle">50 Clothes Per Month</div>
                                <div class="promo02__show-layout">
                                    <ul>
                                        <li>4 T-Shirts</li>
                                        <li>1 Pairs of Jeans</li>
                                        <li>3 Button-Down Shirts</li>
                                        <li>1 Pair of Shorts</li>
                                        <li>7 Pairs of Underwear</li>
                                        <li>6 Pairs of Socks</li>
                                        <li>1 Towel</li>
                                        <li>1 Set of Sheets</li>
                                    </ul>
                                </div>
                                <div class="promo02__price">$349.00</div>
                                <div class="promo02__show-btn">
                                    <a href="#" class="tt-btn tt-btn__wide">
                                        <span class="mask">Order Now</span>
                                        <div class="button">Order Now</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tt-item col-md-4">
                            <div class="promo02 js-handler">
                                <div class="promo02__icon"><i class="icons-2840421"></i></div>
                                <div class="promo02__title">Enterprise Package</div>
                                <div class="promo02__subtitle">60 Clothes Per Month</div>
                                <div class="promo02__show-layout">
                                    <ul>
                                        <li>4 T-Shirts</li>
                                        <li>2 Pairs of Jeans</li>
                                        <li>4 Button-Down Shirts</li>
                                        <li>2 Pair of Shorts</li>
                                        <li>8 Pairs of Underwear</li>
                                        <li>6 Pairs of Socks</li>
                                        <li>2 Towel</li>
                                        <li>2 Set of Sheets</li>
                                    </ul>
                                </div>
                                <div class="promo02__price">$399.00</div>
                                <div class="promo02__show-btn">
                                    <a href="#" class="tt-btn tt-btn__wide">
                                        <span class="mask">Order Now</span>
                                        <div class="button">Order Now</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tt-item col-md-4">
                            <div class="promo02 js-handler">
                                <div class="promo02__icon"><i class="icons-2230769"></i></div>
                                <div class="promo02__title">Premium Package</div>
                                <div class="promo02__subtitle">80 Clothes Per Month</div>
                                <div class="promo02__show-layout">
                                    <ul>
                                        <li>6 T-Shirts</li>
                                        <li>3 Pairs of Jeans</li>
                                        <li>4 Button-Down Shirts</li>
                                        <li>2 Pair of Shorts</li>
                                        <li>9 Pairs of Underwear</li>
                                        <li>8 Pairs of Socks</li>
                                        <li>2 Towel</li>
                                        <li>2 Set of Sheets</li>
                                    </ul>
                                </div>
                                <div class="promo02__price"><span class="old-price">$449.00</span> <span class="new-price">$449.00</span></div>
                                <div class="promo02__show-btn">
                                    <a href="#" class="tt-btn tt-btn__wide">
                                        <span class="mask">Order Now</span>
                                        <div class="button">Order Now</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script defer src="js/bundle.js"></script>
